@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;

.container {
    min-height: 100dvh;
    width: 100%;

    @include flex-center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    background: $bg;

    font-size: 1rem;
}

.form-header,
.form-container {
    @include flex-center;
    flex-direction: column;
    gap: 0.4rem;

    @include glass-effect;
    @include soft-shadow;

    width: 90%;
    max-width: 420px;
    padding: 1.5rem;

    border-radius: $radius-md;

    h2 {
        color: $primary;
        font-size: 1.8rem;
        letter-spacing: 0.05em;
    }

    p {
        text-align: center;
        color: $secondary;
        letter-spacing: 0.05em;
        padding-top: 0.5em;
    }
}

.form-container {
    gap: 2rem;
    padding: 3rem 1.5rem;

    form {
        width: 100%;
        @include flex-center;
        flex-direction: column;
        gap: 1rem;

        input,
        textarea {
            @include input-style;
            box-shadow: $input-box-shadow;
        }

        input:focus,
        textarea:focus {
            border: 1px solid #ff2e63;
            box-shadow: 0 0 10px rgba(255, 46, 99, 0.4);
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            @include autofill-fix;
        }

        .upload {
            width: 120px;
            height: 120px;
            border: 2px solid #ff2e63;
            border-radius: $radius-full;

            @include flex-center;
            cursor: pointer;
            overflow: hidden;

            svg {
                color: #ff2e63;
                width: 30px;
                height: 30px;
                stroke-width: 2.5px;
            }

            .avatar {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &:hover {
                background: rgba(255, 46, 99, 0.1);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .bio {
            font-size: 1rem;
            color: $text;
            align-self: flex-start;

            span {
                font-size: 0.85rem;
                opacity: 0.7;
                color: $text;
            }
        }

        button {
            @include primary-btn(0.8rem);
            width: 100%;

            &:hover,
            &:focus,
            &:active {
                // background: $btn-bg;
                transform: translateY(2px);
                box-shadow: 0 0 20px rgba(255, 46, 99, 0.3);
            }

            &:active {
                transform: scale(0.98);
            }
        }

        .error {
            color: #ff0022;
            font-size: 0.9rem;
            text-align: center;
            animation: shacking 0.3s ease-in-out infinite alternate;
        }
    }

    .toggleAuthForm {
        color: #ff0022;
        cursor: pointer;
        text-decoration: none;
    }
}

.form-container,
.form-header {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shacking {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}