@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;

.profile-page {


    min-height: 100vh;
    padding: 2rem 1rem;

    width: 100dvw;
    height: 100dvh;

    @include flex-center;
    justify-content: flex-start;

    gap: 1rem;

    overflow-y: scroll;
    scroll-behavior: smooth;

    .profile-header,
    .profile-stats,
    .profile-posts {
        width: 100%;
        max-width: 700px;
        background: $bg;
        border-radius: $radius-md;
    }

    .profile-posts {
        max-width: 900px;
        max-height: 65dvh;
    }

}