@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;


.home-header {
    width: 100%;
    max-width: none;
    padding: 1rem;

    background: $bg;

    @include flex-center;
    justify-content: space-between;

    @include glass-effect;

    border-bottom-left-radius: $radius-md;
    border-bottom-right-radius: $radius-md;

    .home-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }

    .logo {
        width: 60px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            color: $primary;
            font-size: 1rem;
            letter-spacing: 0.05em;
            transition: color 0.3s ease;
            text-decoration: none;

            &:hover {
                color: $secondary;
            }
        }
    }
}