@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;

.home {
    height: 100dvh;
    width: 100%;
    min-width: 100%;
    justify-content: flex-start;
    // display: inline;

    padding: 0;

    background: radial-gradient(circle at top, #1a1a2e, #0f172a);
}

.home-page,
.home-content {

    @include flex-center;
    flex-direction: column;
    gap: 1rem;

    @include glass-effect;
    @include soft-shadow;

    width: 90%;
    max-width: 420px;
    padding: 1.5rem;

    border-radius: $radius-md;
}

.home-page{
    .logo {
        width: 80px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    h1 {
        color: $primary;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.05em;
    }

    h2 {
        color: $secondary;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.05em;
    }
    p {
        color: #fff;
        text-align: center;
        line-height: 1.5;
    }

    .home-content {
        width: 100%;
    }

}

@media (min-width: 600px) {

    .home-page {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }

}