@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;

.nav-left,
.nav-right {
    @include flex-center;
    gap: $space-md;
}

.bottom-nav {
    width: 100%;

    @include flex-center;
    justify-content: space-between;

    padding: 0.5rem 1.5rem;

    background: $bg-nav;

    border: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.fab {
    background: $primary;
    padding: 0.2rem 0.4rem;
    border-radius: $radius-md;

    svg {
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease;
    }

    &:active svg {
        transform: scale(0.9) rotate(90deg);
    }
}

.nav-left,
.nav-right {
    @include flex-center;
    gap: $space-xl;

    svg {
        color: $muted;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: $accent;
            transform: scale(1.5);

        }
    }
}