@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;


.feed-page {
    width: 100%;
}

.feed {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;

    .posts {
        width: 100%;
        overflow: hidden;
        @include flex-column(1rem);
        flex: 1;
    }
}