@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;


.feed-page {
    @include flex-center;
    flex-direction: column;

    gap: 1rem;

    background: $bg-form;
}

.feed {
    max-width: 450px;
    margin: auto;
    width: 95%;
    padding-bottom: 80px;

    .posts {
        width: 100%;
        overflow: hidden;
        @include flex-column(1rem);
    }
}