// COLORS
$primary: #ff2e63;
$secondary: #08d9d6;
$accent: #f8edeb;

$bg-main: #262639;

$bg-form: radial-gradient(circle at top, #1a1a2e, #0f172a);


$white: #fff;
$black: #000;

$bg: #0f172a;
$bg-light: #1a1a2e;

$card: rgba(255, 255, 255, 0.05);
$card-hover: rgba(255, 255, 255, 0.08);

$text: #e5e7eb;
$muted: #9ca3af;

// BUTTON
$btn-text: #fefefe;
$btn-bg: linear-gradient(135deg, #ff2e63, #ff4e88);
$btn-hover: linear-gradient(135deg, #ff4e88, #ff2e63);

// SPACING
$space-xs: 0.4rem;
$space-sm: 0.8rem;
$space-md: 1.2rem;
$space-lg: 2rem;
$space-xl: 2.5rem;

// FONT
$text-sm: 0.8rem;
$text-md: 1rem;
$text-lg: 1.4rem;
$text-xl: 1.8rem;
$text-2xl: 2rem;

// RADIUS
$radius-sm: 0.4rem;
$radius-md: 0.8rem;
$radius-lg: 1.2rem;
$radius-full: 50%;

$shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
$input-box-shadow: inset 0 1px 2px #00000050, 0 2px 2px #ffffff30, 0 2px 4px #ffffff15;